<div class="jumbotron" align="center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Search Item</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name </label>
                        <input type="text" [(ngModel)]="name" formControlName="name" class="form-control"
                        [ngClass]="{'is-invalid':submitted}">

                        <div *ngIf="submitted" class="invalid-feedback">
                            the value of name is required
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary">search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

